Predict the survival rate of passengers from the titatnic ship using The Pclass,Sex,Age,Fare attributes

In [13]:
import pandas as pd
df=pd.read_csv("F:/Sem6 Project Prep/ML/files/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
dataset=df.drop(["PassengerId","Survived","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis="columns")
target_dataset=df.Survived

In [15]:
target_dataset.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le_sex=LabelEncoder()
dataset["Sex_n"]=le_sex.fit_transform(dataset["Sex"])
dataset.head()

   Pclass     Sex   Age     Fare  Sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [18]:
dataset=dataset.drop(["Sex"],axis="columns")
dataset.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [24]:
import math
age_mean=math.floor(dataset.Age.mean())
age_mean

29

In [28]:
dataset.fillna({
    "Age":age_mean
},inplace=True)

In [29]:
dataset.tail(10)

     Pclass   Age     Fare  Sex_n
881       3  33.0   7.8958      1
882       3  22.0  10.5167      0
883       2  28.0  10.5000      1
884       3  25.0   7.0500      1
885       3  39.0  29.1250      0
886       2  27.0  13.0000      1
887       1  19.0  30.0000      0
888       3  29.0  23.4500      0
889       1  26.0  30.0000      1
890       3  32.0   7.7500      1

In [30]:
from sklearn import tree

In [31]:
model=tree.DecisionTreeClassifier()

In [32]:
model.fit(dataset,target_dataset)

DecisionTreeClassifier()

In [34]:
model.score(dataset,target_dataset)

0.9741863075196409